<h1>Data collected so far:</h1>
<p>Humidity and Temperature</p>
<p>Unfilled </p>
<%= line_chart @data_t, min: 0, max: 50, ytitle: "Temperature", xtitle: "Time", point: false, legend:false %>

<%= line_chart @data_h, min: 0, max: 100, ytitle: "Humidity", xtitle: "Time", point: false, legend:false %>
